
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">

    <style>
        /* *{
    padding: 0px;
    margin: 0px;
        } */
        body{
            background: grey;
        }
        .Main{
            height: 400px;
            width: 330px;
            background-color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: solid 2px palevioletred;
            border-radius:20px ;

        }
        h3{
            color: wheat;
            font-family: 'Itim', cursive;
            text-align: center;


        }
        h2{
            font-family: 'Itim', cursive;
            text-align: center;
            color: rgb(251, 235, 214);

        }
        label{
            color : plum;
            font-family: 'Fredoka One', cursive;
            margin-left:60px ;
            font-weight: bold;
        }
        #area{
            background: rgb(26, 25, 25);

            border: 1px solid rgba(26, 158, 152, 0.603);
            font-family: sans-serif;
            font-weight: bolder;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            margin-left: 40px;
            border-radius: 2px;
            font-weight: bold;
            color: rgb(216, 212, 209);
        }
      .sub{
        font-family: 'Itim', cursive;
        font-size: large;
        background: rgb(80, 133, 1);
        color: wheat;
        /* background: rgb(255, 255, 255); */
        border-radius: 5px;
        margin-left: 65px;
        margin-top: 0px;
        width: 200px;
      }
      select{
          background: transparent;
          color: rgb(246, 241, 233);
          background: black;
          font-family: 'Roboto', sans-serif;
          outline: none;
      }
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #28688d;
}
     
      
    </style>
</head>
<body>
    <ul>
        <li><a class="active" href="{{url_for('Home')}}">Home</a></li>
        <li><a href="https://pythonbasics.org/what-is-flask-python/">About</a></li>
        <li><a href="https://drive.google.com/file/d/142TBCmgPyCvaJMrUKGaxF9uZhYgGuA_0/view?usp=sharing">Backend-Source code</a></li>
        <!-- <li><a href="">Contact</a></li> -->
      </ul>

    <div class='Main'>
        <h2>Sorting Online</h2>
        <form action="{{url_for('sorting')}}" method="POST">
            <label for="">Algorithms</label>
            <select name="sel" id="">
                {% for name , val in sort_data %}
                    <option value="{{name}}">{{val}}</option>
                {% endfor %}

            </select>
            <h3>The List you Want to Sort </h3>
            <p></p><textarea name="data" id="area" cols="30" rows="10" placeholder="Type"></textarea></p>
            <br>
            <input class="sub" type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>

