<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
<style>
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #8b1096;
}

#g{
    font-family: 'Roboto', sans-serif;
}
h2{
    color: rgb(23, 54, 156);
}
#g p{
    padding-left: 5px;
    padding-left: 10px;
    width: 30px;

    
}
#gg{
    background: black;
    margin-left: 10px;

}
#gg::placeholder{
    color: whitesmoke;
    padding-left: 2px;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 5px;
}
#sec::placeholder{
    color: whitesmoke;
    padding-left: 2px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;

}
#sec{
    background: black;
    /* font-family: 'Roboto', sans-serif; */
}
#ds h2{
    font-family: 'Roboto', sans-serif;
}
.def h2{
    font-family: cursive;

}
.def p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: initial;

}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="{{url_for('Home')}}">Back</a></li>
  <li><a href="#g">Sorted</a></li>
  <li><a href="#ds">Unique</a></li>
</ul>
<hr>
<div class="def">

    {% if algo == 'P' %}
        <h2>Inbuild Sort:</h2>
        <p>Python lists have a built-in list.sort() method that modifies the list in-place. There is also a sorted() built-in function that builds a new sorted list from an iterable.</p>
    {% elif algo == 'Q'%}
        <h2>Quicksort:</h2>
        <p>Quicksort is an in-place sorting algorithm. Developed by British computer scientist Tony Hoare in 1959 and published in 1961, it is still a commonly used algorithm for sorting. When implemented well, it can be somewhat faster than merge sort and about two or three times faster than heapsort.</p>
    {% elif algo == 'B' %}
        <h2>Bubble sort:</h2>
        <p>Bubble sort, sometimes referred to as sinking sort, is a simple sorting algorithm that repeatedly steps through the list, compares adjacent elements and swaps them if they are in the wrong order. The pass through the list is repeated until the list is sorted</p>
    {% elif algo == "M"%}
        <h2>Merge sort:</h2>
        <p>In computer science, merge sort is an efficient, general-purpose, and comparison-based sorting algorithm. Most implementations produce a stable sort, which means that the order of equal elements is the same in the input and output. Merge sort is a divide and conquer algorithm that was invented by John von Neumann in 1945. A detailed description and analysis of bottom-up merge sort appeared in a report by Goldstine and von Neumann as early as 1948.</p>
    {% elif algo == 'S' %}
        <h2>Selection sort</h2>
        <p>In computer science, selection sort is an in-place comparison sorting algorithm. It has an O time complexity, which makes it inefficient on large lists, and generally performs worse than the similar insertion sort.</p>
    {% elif algo == 'I'%}
        <h1>Insertion sort</h1>
        <p>Insertion sort is a simple sorting algorithm that builds the final sorted array one item at a time. It is much less efficient on large lists than more advanced algorithms such as quicksort, heapsort, or merge sort.</p>
    {% elif algo == 'SE'%}
        <h2>Shellsort</h2>
        <p>Shellsort, also known as Shell sort or Shell's method, is an in-place comparison sort. It can be seen as either a generalization of sorting by exchange or sorting by insertion. The method starts by sorting pairs of elements far apart from each other, then progressively reducing the gap between elements to be compared.</p>
    {%endif%}
    <hr>
</div>

<div id="g">
    <h2>Sorted Data</h2><hr>
    <!-- <p>{{data}}</p> -->
    <textarea name="" id="gg" cols="115" rows="25" placeholder="{{data}}" disabled></textarea>
</div><hr>

<div id="ds">
    <h2>clean Data</h2><hr>
    <!-- <p>{{data}}</p> -->
    <textarea name="" id="sec" cols="115" rows="25" placeholder="{{cleen_d}}" disabled></textarea>

</div>





</body>
</html>